.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../../assets/images/envbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.login-box {
        padding: 40px;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
        width: 22rem;
        height: 22rem;
    }
    
    .login-box h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .login-box p {
        margin: 1.2rem;
    }
    
    .login-textbox {
        margin-bottom: 20px;
    }
    
    .login-textbox input {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .login-textbox input:focus {
        border-color: #007bff;
    }
    
    .login-btn {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .login-btn:hover {
        background-color: #0056b3;
    }
    