.LandingBanner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../../assets/images/landingBanner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    opacity: 0.9;
}
.LandingBanner-content h2 {
    font-size: 3rem;
    margin: 2rem;
    color: white;
}

.LandingBanner-content span {
    color: rgb(4, 213, 4);
}

.LandingBanner-content p {
    font-size: 1.25rem;
    color: white;
    margin: 2rem;
}

.LandingBanner-content button {
    padding: 0.5rem 2rem;
    margin-top: 1rem;
    background-color: rgb(15, 214, 15);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    height: 3rem;
    font-size: larger;
}

.LandingBanner-content button:hover {
    background-color: rgb(8, 187, 8);
}

